name: Build Vite App

on:
  push:
    branches:
      - dev
      - staging
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build DEV
        if: github.ref == 'refs/heads/dev'
        run: npm run build

      - name: Build STAGING
        if: github.ref == 'refs/heads/staging'
        run: npm run build -- --mode staging

      - name: Build PRODUCTION
        if: github.ref == 'refs/heads/main'
        run: npm run build
